{
  "presets": ["react-native"],
  "plugins": [
    ["module-alias", [
        { "src": "./js/components", "expose": "@components" },
        { "src": "./js/constants", "expose": "@const" },
        { "src": "./js/utils", "expose": "@utils" },
        { "src": "./js/actions", "expose": "@actions" },
        { "src": "./js/reducers", "expose": "@reducers" },
        { "src": "./js/images", "expose": "@images" },
    ]]
  ]

}
